{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% if form.instance.id %}Edit Branch: {{ form.instance.name }}{% else %}Add New Branch{% endif %} - Pawnshop Management System{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">
                        {% if form.instance.id %}
                            <i class="fas fa-edit me-2"></i>Edit Branch: {{ form.instance.name }}
                        {% else %}
                            <i class="fas fa-plus-circle me-2"></i>Add New Branch
                        {% endif %}
                    </h4>
                </div>
                <div class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.name|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.manager|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                {{ form.address|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                {{ form.city|as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ form.state|as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ form.zip_code|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                {{ form.phone|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.email|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                {{ form.is_active|as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ form.opening_time|as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ form.closing_time|as_crispy_field }}
                            </div>
                        </div>

                        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                            <a href="{% url 'branch_list' %}" class="btn btn-outline-secondary me-md-2">
                                <i class="fas fa-times me-2"></i>Cancel
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save me-2"></i>Save Branch
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}